<!-- inherit the html code -->
{% extends "layout.html" %}

<!-- Main body of index.html -->
{% block section %}
    <div class = "home_full_logo">
      <h1><img src = "../static/img/rm_full_logo.png" alt = "full_logo"></h1>
    </div>

    <div class = "navigation">
      <nav class = "main_nav">
        <ul class = "main_ul">
          <li><a href = "{{ url_for('crew') }}">The Crew</a></li>
          <li><a href = "{{ url_for('crew') }}">Jerry Law</a></li>
          <li><a href = "{{ url_for('crew') }}">Tony Laam</a></li><br>
        </ul>
      </nav>
    </div>
{% endblock %}
