<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "utf-8">
    <title>{{ title }}</title>
    <link rel = "stylesheet" href = "../static/css/reset.css">
    {% block link %}{% endblock %}
    <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src = "../static/js/{{title}}_js.js"></script>
    <link rel = "icon" type = "image/png" href = "../static/img/rm_logo.png">
  </head>

  <section>
    {% block section %}

    {% endblock %}
  </section>

</html>
