/* from load page animation */
$fadeInAnimationTime: 2s;
html {
    font-family: "Tahoma", "sans-serif";
    animation: fadeIn $fadeInAnimationTime;
    -webkit-animation: fadeIn $fadeInAnimationTime;
    -moz-animation: fadeIn $fadeInAnimationTime;
    -ms-animation: fadeIn $fadeInAnimationTime;
    -o-animation: fadeIn $fadeInAnimationTime;
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* navigation styling */
.onclick_nav {
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1000;

  .img_nav {
    display: block;
    position: fixed;
    top: 160px;
    left: calc(50% - 120px);

    a {
      margin:0 15px;
    }
  }

  .text_nav {
    position: fixed;
    top: 400px;
    left: calc(50% - 61.725px);

    ul {

      li{
        list-style: none;
        margin: 15px 0;
        text-align: center;

        a{
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 20px;
        }
      }
    }
  }
}

header {
  width: 100%;
  height: 300px;
  z-index: 1000;

  .nav_btn {
    position: fixed;
    top: 20px;
    left: calc(50vw - 25px);
    z-index: 1000;

    img{
      width: 50px;
      height: 50px;
    }
  }

  .rm_logo {
    position: relative;
    top: 120px;
    left: calc(50vw - 50px);
    transition: all 0.75s;

    img {
      width: 100px;
      height: 100px;
    }
  }

}

/* hr styling*/

.break {
  width: 65vw;
  margin-bottom: 50px;
  border-color: #AEEEEE;
  transition: all 0.75s;
}

/* crew member list styling*/
.crew_description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-evenly;
  margin:0 80px;
  opacity:1;
  transition: all 0.75s;

  .crew0 {

    .crew0_icon {
      background-image: url("../img/crew_photo/crew0.png");
    }

    .icon_background {
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: center;
      width: 24vw;
      height: 24vw;
      border-radius: 50%;
      transition: background 0.75s ease;
    }

    .icon_hover:hover {
      background-size: 160%;
    }

    h2 {
      text-align: center;
      margin-top: 30px;
      color: #345678;
    }

    p {
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #345678;
    }
  }

  .crew1 {

    .crew1_icon {
      background-image: url("../img/crew_photo/crew1.png")
    }

    .icon_background {
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: center;
      width: 24vw;
      height: 24vw;
      border-radius: 50%;
      transition: background 0.75s ease;
    }

    .icon_hover:hover {
      background-size: 160%;
    }

    h2 {
      text-align: center;
      margin-top: 30px;
      color: #345678;
    }

    p {
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #345678;
    }
  }

  .crew2 {

    .crew2_icon {
      background-image: url("../img/crew_photo/crew2.png")
    }

    .icon_background {
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: center;
      width: 24vw;
      height: 24vw;
      border-radius: 50%;
      transition: background 0.75s ease;
    }

    .icon_hover:hover {
      background-size: 160%;
    }

    h2 {
      text-align: center;
      margin-top: 30px;
      color: #345678;
    }

    p {
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #345678;
    }
  }
}
